.social-links 
    a.social-link(href="") 
        include ../../images/icons/social-icons/social-instagram.svg
    a.social-link(href="") 
        include ../../images/icons/social-icons/social-facebook.svg
    a.social-link(href="") 
        include ../../images/icons/social-icons/social-twitter.svg