.social-links 
    a.social-link(href="") 
        include ../../images/icons/social-icons/instagram.svg
    a.social-link(href="") 
        include ../../images/icons/social-icons/facebook.svg
    a.social-link(href="") 
        include ../../images/icons/social-icons/twitter.svg