ul.social-links 
    li
        a.social-link(href="") 
            include ../../images/icons/social-icons/instagram.svg
    li
        a.social-link(href="") 
            include ../../images/icons/social-icons/facebook.svg
    li
        a.social-link(href="") 
            include ../../images/icons/social-icons/twitter.svg