//- mixin header
//-     header.header
mixin header
    header.header
        nav.navbar
            a.navbar__brand(href="#")
                img.navbar__brand-img(src="../../images/logo.png", alt="Re-imagining TB Care")
            button.menu-button.menu-button_open(type='button') menu
            include ../../blocks/main-menu