//- mixin header
//-     header.header
mixin header
    header.header
        nav.navbar
            a.navbar__brand(href="")
                .navbar__brand-img
            button.menu-button_open(type='button', aria-label='open menu') menu
            include ../../blocks/main-menu