.main-menu {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 20;
	transform: translate(100%);

	height: 100vh;
	width: 100%;
	max-width: 448px;

	background-color: $primary_color;

	transition: transform 0.3s ease;

	&_open {
		transform: translate(0);
	}
}

.main-menu__header {
	display: flex;
	justify-content: flex-end;
	align-items: center;

	height: 76px;
	padding: 20px;

	@include tablet-s {
		padding: 0 60px;
		height: 80px;
	}
}

.main-menu__body {
	margin: 2.8rem 4rem;

	@include tablet-s {
		margin: 6rem;
	}
}

.main-menu__items {
	display: flex;
	flex-direction: column;
	gap: 2rem;

	@include tablet-s {
		gap: 3rem;
	}
}

.main-menu__item {
	font-size: 3rem;
	line-height: 3.6rem;
	font-weight: 900;
}

// .main-menu__subitems {
// 	display: flex;
// 	flex-direction: column;
// 	gap: 1rem;

// 	margin-top: 1rem;
// }

// .main-menu__subitem {
// 	font-size: 2rem;
// 	line-height: 2.4rem;
// 	font-weight: 400;
// }

.main-menu__link {
	color: $white;
	font-family: $font_1;

	@include transition_color;

	&:hover,
	&:active {
		text-decoration: none;
		color: $link_hover_color;
	}
}

.main-menu__hr {
	opacity: 0.2;
	margin: 6rem 0;
}
