.menu-button {
	cursor: pointer;

	border: none;
	background: none;

	padding: 2px 1px 1px;
	z-index: 200;

	font-size: 11px;
	font-weight: 900;
	line-height: 1.4rem;
	letter-spacing: -0.06rem;
	text-transform: uppercase;
}

@mixin menu-button-mixin($base-color, $hover-color) {
	color: $base-color;
	border-top: 3px solid;
	border-bottom: 3px solid;
	border-color: $base-color;

	@include transition_color_border;

	&:hover,
	&:focus,
	&:active {
		color: $hover-color;
		border-color: $hover-color;
	}
}

.menu-button_open {
	@include menu-button-mixin($primary_color, $link_hover_color);
}

.menu-button_close {
	@include menu-button-mixin($white, $link_hover_color);
}
