.social_list {
	display: flex;
	gap: 2rem;
}

.social_link {
	color: $white;

	@include transition_color;

	&:hover,
	&:focus,
	&:active {
		color: $link_hover_color;
	}
}

.social_link > .icon {
	width: 3rem;
	height: 3rem;
}
