//------------------------------------------------------------layout
.header {
	position: fixed;
	top: 0;
	left: 0;

	width: 100%;

	font-size: 1rem;

	@include z-index(header);
}

//------------------------------------------------------------layout###

.navbar {
	width: 100%;

	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 0 2rem;
	height: 7.6rem;
	background: $white;

	@include tablet-s {
		padding: 0 6rem;
		height: 8rem;
	}
}

.logo_link {
	&:focus {
		outline: 1px dotted $link_hover_color;
	}
}

.logo {
	background: url(../images/logo-min.png);
	background-size: contain;
	background-repeat: no-repeat;
	width: 21.2rem;
	height: 3.6rem;

	@include tablet-s {
		width: 25.6rem;
		height: 4.3rem;
	}
}
