//------------------------------------------------------------layout
.header {
	position: fixed;
	top: 0;
	left: 0;

	width: 100%;

	font-size: 1rem;

	@include z-index(header);

	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 0 20px;
	height: 76px;
	background: $white;

	@include tablet-s {
		padding: 0 60px;
		height: 80px;
	}
}

//------------------------------------------------------------layout###

.logo {
	background: url(../images/logo-min.png);
	background-size: contain;
	background-repeat: no-repeat;
	width: 212px;
	height: 36px;

	@include tablet-s {
		width: 256px;
		height: 43px;
	}
}
